
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
    var Count = ViewBag.Data as int[];
    ViewData["TitleHeader"] = "Thống kê chung";
}
<<div class="row">
     <div class="row col-md-12">
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-info">
                     <i class="ion ion-ios-paper"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         <h4><a href="@Url.Action("Index", "DanhMucCha")">Tổng số Danh mục cha</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[0]
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-info">
                     <i class="ion ion-ios-paper"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         <h4><a href="@Url.Action("Index", "DanhMuc")">Tổng số Danh mục</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[1]
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-info">
                     <i class="ion ion-ios-paper-outline"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         <h4><a href="@Url.Action("Index", "BaiViet")">Tổng số Tin tức</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[2]
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-warning">
                     <i class="ion ion-person"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         <h4><a href="@Url.Action("Index", "TaiKhoan")">Tổng số tài khoản</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[3]
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-danger">
                     <i class="ion ion-alert"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         <h4><a href="@Url.Action("TinChuaDuyet", "BaiViet")">Tổng số Tin Chưa Duyệt</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[4]
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card card-sm-3">
                 <div class="card-icon bg-danger">
                     <i class="ion ion-person"></i>
                 </div>
                 <div class="card-wrap">
                     <div class="card-header">
                         
                         <h4><a href="@Url.Action("ChuaDuyetTK", "TaiKhoan")">Tổng số Tài Khoản bị khóa</a></h4>
                     </div>
                     <div class="card-body">
                         @Count[5]
                     </div>
                 </div>
             </div>
         </div>

     </div>

    <div class="hello">
        <br />
        <br />
        <br />
        <div class="col-12">
            <div class="display-2">Welcome to Website Admin</div>
            <hr />
        </div>
    </div>

</div>
