@model IEnumerable<ReviewFood.Models.DanhMuc>
@{
    ViewData["Title"] = "Index Danh mục";
    ViewData["TitleHeader"] = "Danh sách Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Tạo Mới", "Create")
<table class="table table-striped" border="1">
    <thead class=" table-success ">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NgaySua)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySua)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts
{
    @{
        var message_done = ViewBag.Done;
        var message_err = ViewBag.Error;
    }
    <script>
        var message_done = '@Html.Raw(message_done)';
        var message_err = '@Html.Raw(message_err)';
        console.log(message_done)
        if (message_done != "" && message_done != null) {
            toastr.success(message_done, 'Thành công!');
        } else if (message_err != "" && message_err != null) {
            toastr.error(message_err, 'Lỗi!');
        }
    </script>
}