@model ReviewFood.Models.BaiViet

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Tin</h2>

<h3>Bạn xóa với những thông tin sau: </h3>
<div>
   @Html.ActionLink("Quay Về", "Index")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TieuDe)*@
            Tiêu Đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NgayTao)*@
            Ngày Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TrangThai)*@
            Trạng Thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
    }
</div>

