@model IEnumerable<ReviewFood.Models.BaiViet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<form method="get" asp-controller="TinTuc" asp-action="Index" class="p-4">
    <div class="row">
        <div class="col-4">
            <select name="IdDanhMuc" class="form-control" value="@ViewBag.IdDanhMuc">
                <option value="0" @if (ViewBag.IdDanhMuc == 0) { <text> selected="selected" </text> }>Tất cả</option>
                @foreach (var item in ViewBag.DanhMucs)
                {
                    <option value="@item.Id" @if (ViewBag.IdDanhMuc == item.Id) { <text> selected="selected" </text> }>@item.TenDanhMuc</option>
                }
            </select>
        </div>
        <div class="col-5">
            <input type="text" name="keyword" value="@ViewBag.keyword" class="form-control" placeholder="Search" aria-label="Search" />
        </div>
        <div class="col-2">
            <input type="submit" name="Search" value="Submit" class="btn btn-secondary" />
        </div>
    </div>
</form>

<table class="table table-striped" border="1">
    <thead class=" table-success ">
        <tr>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.TieuDe)*@ Tiêu Đề 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.HinhAnh)*@ Hình
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NgayTao)*@ Ngày Tạo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TrangThai)*@ Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @if (item.TrangThai == true)
                {
                    <p>Kích hoạt</p>
                }
                else
                {
                    <p>Vô hiệu</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                <a href="/Admin/DanhGia/Index/@item.Id">Đánh giá</a>
            </td>
        </tr>
    }

</table>
@section Scripts
{
    @{
        var message_done = ViewBag.Done;
        var message_err = ViewBag.Error;
    }
    <script>
        var message_done = '@Html.Raw(message_done)';
        var message_err = '@Html.Raw(message_err)';
        console.log(message_done)
        if (message_done != "" && message_done != null) {
            toastr.success(message_done, 'Thành công!');
        } else if (message_err != "" && message_err != null) {
            toastr.error(message_err, 'Lỗi!');
        }
    </script>
}
